<plugin name='gorm-mongodb' version='0.1.1' grailsVersion='1.3 &gt; *'>
  <author>Juri Kuehn</author>
  <authorEmail>juri.kuehn at gmail.com</authorEmail>
  <title>Grails MongoDB plugin</title>
  <description>GORM Layer for the superfast, highly scalable, schemafree, document oriented database MongoDB</description>
  <documentation>http://grails.org/plugin/gorm-mongodb</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.acme.Contact</resource>
    <resource>org.acme.NotMongoDB</resource>
    <resource>org.acme.Project</resource>
    <resource>org.acme.Task</resource>
  </resources>
  <dependencies>
    <plugin name='core' version='1.3 &gt; *' />
  </dependencies>
  <behavior>
    <method name='save' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='delete' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='delete' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='getConstraints' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='&lt;init&gt;' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='setProperties' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='getProperties' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='hasErrors' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='getErrors' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='setErrors' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
      <argument type='org.springframework.validation.Errors' />
    </method>
    <method name='clearErrors' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='validate' artefact='MongoDomain' type='org.acme.Contact'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Project'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='delete' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='delete' artefact='MongoDomain' type='org.acme.Project'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='getConstraints' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='&lt;init&gt;' artefact='MongoDomain' type='org.acme.Project'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='setProperties' artefact='MongoDomain' type='org.acme.Project'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='getProperties' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='hasErrors' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='getErrors' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='setErrors' artefact='MongoDomain' type='org.acme.Project'>
      <description />
      <argument type='org.springframework.validation.Errors' />
    </method>
    <method name='clearErrors' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='validate' artefact='MongoDomain' type='org.acme.Project'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='save' artefact='MongoDomain' type='org.acme.Task'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='delete' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='delete' artefact='MongoDomain' type='org.acme.Task'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='getConstraints' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='&lt;init&gt;' artefact='MongoDomain' type='org.acme.Task'>
      <description />
      <argument type='java.util.Map' />
    </method>
    <method name='setProperties' artefact='MongoDomain' type='org.acme.Task'>
      <description />
      <argument type='java.lang.Object' />
    </method>
    <method name='getProperties' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='hasErrors' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='getErrors' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='setErrors' artefact='MongoDomain' type='org.acme.Task'>
      <description />
      <argument type='org.springframework.validation.Errors' />
    </method>
    <method name='clearErrors' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <method name='validate' artefact='MongoDomain' type='org.acme.Task'>
      <description />
    </method>
    <property name='datastore' type='org.acme.Contact' artefact='MongoDomain'>
      <description />
    </property>
    <property name='constraints' type='org.acme.Contact' artefact='MongoDomain'>
      <description />
    </property>
    <property name='constraints' type='org.acme.Contact' artefact='MongoDomain'>
      <description />
    </property>
    <property name='properties' type='org.acme.Contact' artefact='MongoDomain'>
      <description />
    </property>
    <property name='properties' type='org.acme.Contact' artefact='MongoDomain'>
      <description />
    </property>
    <property name='errors' type='org.acme.Contact' artefact='MongoDomain'>
      <description />
    </property>
    <property name='errors' type='org.acme.Contact' artefact='MongoDomain'>
      <description />
    </property>
    <property name='datastore' type='org.acme.Project' artefact='MongoDomain'>
      <description />
    </property>
    <property name='constraints' type='org.acme.Project' artefact='MongoDomain'>
      <description />
    </property>
    <property name='constraints' type='org.acme.Project' artefact='MongoDomain'>
      <description />
    </property>
    <property name='properties' type='org.acme.Project' artefact='MongoDomain'>
      <description />
    </property>
    <property name='properties' type='org.acme.Project' artefact='MongoDomain'>
      <description />
    </property>
    <property name='errors' type='org.acme.Project' artefact='MongoDomain'>
      <description />
    </property>
    <property name='errors' type='org.acme.Project' artefact='MongoDomain'>
      <description />
    </property>
    <property name='datastore' type='org.acme.Task' artefact='MongoDomain'>
      <description />
    </property>
    <property name='constraints' type='org.acme.Task' artefact='MongoDomain'>
      <description />
    </property>
    <property name='constraints' type='org.acme.Task' artefact='MongoDomain'>
      <description />
    </property>
    <property name='properties' type='org.acme.Task' artefact='MongoDomain'>
      <description />
    </property>
    <property name='properties' type='org.acme.Task' artefact='MongoDomain'>
      <description />
    </property>
    <property name='errors' type='org.acme.Task' artefact='MongoDomain'>
      <description />
    </property>
    <property name='errors' type='org.acme.Task' artefact='MongoDomain'>
      <description />
    </property>
  </behavior>
</plugin>