<plugin name='gorm-mongodb' version='0.4.3' grailsVersion='1.3 &gt; *'>
  <author>Juri Kuehn</author>
  <authorEmail>juri.kuehn at gmail.com</authorEmail>
  <title>Grails MongoDB plugin</title>
  <description>GORM Layer for the superfast, highly scalable, schemafree, document oriented database MongoDB</description>
  <documentation>http://wiki.github.com/jkuehn/gorm-mongodb/</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>Config</resource>
    <resource>DataSource</resource>
    <resource>UrlMappings</resource>
    <resource>org.acme.Project</resource>
    <resource>org.acme.Task</resource>
    <resource>org.acme.Contact</resource>
  </resources>
  <dependencies>
    <plugin name='core' version='1.3 &gt; *' />
  </dependencies>
  <behavior />
</plugin>